@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LeeSeoyun', sans-serif;
    background-color: #c3e0b2;
}

.title {
    text-transform: uppercase;
    text-decoration: #4cc765 underline solid 5px;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
}

.slogan {
    padding: 50px;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 49px;
}