@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #ececec;
}

section {
    width: 740px;
    height: 447px;
    background-color: #fff;
    display: inline-flex;
    padding: 46px 74px 27px 63px;
    align-items: flex-start;
    gap: 27px;
}

.card_01 {
    display: flex;
    width: 288px;
    height: 348px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;

}

.title {
    display: flex;
    width: 200px;
    height: 19px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--text-1, #29363D);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.sub_title {
    display: flex;
    width: 200px;
    flex-direction: column;
    flex-shrink: 0;
}

.text {
    display: flex;
    width: 256px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--text-2, #5A6A72);
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.read_btn {
    width: 70px;
    height: 24px;
    flex-shrink: 0;
    color: var(--text-1, #29363D);
    font-family: 'Pretendard-Regular',
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.card_02 {
    width: 288px;
    height: 374px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.profile_img {
    width: 39.641px;
    height: 59px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border: 50%;
}