@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

button {
    border: 0;
    background: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    cursor: pointer;
}

body {
    background-color: #e4e4e4;
}

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

main {
    position: relative;
    background-color: #ffffff;
    width: 520px;
    /* height: 712px; */
    border-radius: 10px;
    border: 1px solid var(--c-4-c-4-c-4, #C4C4C4);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main header {
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
}

main h1 {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding: 20px 188px;
}

.close {
    position: absolute;
    top: 22px;
    right: 24px;
}

/* hr {
    width: 100%;
    background-color: #C4C4C4;
} */

.section1 {
    display: flex;
    flex-direction: column;
}

.section1 .input-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.section1 strong {
    color: #F4492E;
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 6px;
}

.section1 .input-box .id-box:focus,
.section1 .input-box .pw-box:focus {
    outline: 2px solid #F4492E;
}

.section1 .input-box .id-box:focus+strong,
.section1 .input-box .pw-box:focus+strong {
    overflow: visible;
    position: relative;
    width: auto;
    height: auto;
    line-height: inherit;
    text-indent: 0;
    margin-bottom: 10px;
}

.error {
    display: flex;
    flex-direction: column;
}

.screen-out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.section1 input {
    border-radius: 5px;
    border: 1px solid var(--c-4-c-4-c-4, #C4C4C4);
    padding: 16px 15px;
}

.section .input-box:nth-child(1) {
    margin-bottom: 10px;
}

.login-state {
    display: inline-block;
    margin: 17px 0 21px 0;
    color: var(--767676, #767676);
    font-size: 16px;
    align-items: center;
    cursor: pointer;
}

.login-state input[type="checkbox"] {
    display: none;
}

.login-state input[type="checkbox"]+label:before {
    background-image: url(../images/not-checked.png);
}

.login-state input[type="checkbox"]:checked+label:before {
    background-image: url(../images/checked.png);
}

.login-state input[type="checkbox"]+label::before,
.login-state input[type="checkbox"]:checked+label:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
}

.section1 h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 26px 0;
}

.section1 button {
    width: 472px;
    height: 50px;
    border-radius: 5px;
    background: #2F80ED;
    color: #fff;
    border: 0;
    font-size: 18px;
    font-weight: 700;
}

.section1 .account-group {
    display: flex;
    color: var(--767676, #767676);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    margin-top: 20px;
}

.section1 .account-group a:nth-child(1):after {
    content: '|';
    margin: 0 12px 0 12px;
    text-align: right;
}

.section2 {
    width: 100%;
    border-top: 1px solid #c4c4c4;
    position: relative;
    margin: 39px 0 25px 0;
}

.section2::before {
    content: '또는';
    color: var(--767676, #767676);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 52px;
    z-index: 100;
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    top: -10px;
    left: 210px;
}

.section2 ul {
    margin-top: 28px;
}

.section2 li button {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--767676, #767676);
    margin: 10px auto;
    padding: 15px 0;
}

.section2 li img {
    padding-left: 12px;
}

.section2 .facebook {
    border: 1px solid #2D9CDB;
}

.section2 .naver {
    border-color: #00BF18;
}

.section2 .kakao {
    border-color: #F2C94C;
}

.section2 li p {
    width: 100%;
    color: #767676;
    font-size: 16px;
    font-weight: 500;
}

[class^="icon"]::before {
    background-image: url('./images/icon_sprites.png');
}